body {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,h2,h3,h4,a,label,legend{
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
p{
  font-family: 'Karla', sans-serif;
}
a{
  text-decoration: none;
}